<!-- Google Analytics -->
{{ template "_internal/google_analytics_async.html" . }}

{{ if .Site.Params.highlightjs }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
  {{ range .Site.Params.highlightjslanguages }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/languages/{{.}}.min.js"></script>
  {{ end }}

  <script type="text/javascript">
    hljs.initHighlightingOnLoad();
  </script>
{{ end }}

    <!-- LaTeX math rendering -->
    {{ if or .Params.math .Site.Params.math }}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
    </script>
    <script async src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>
    {{ end }}


